<% previous_date = @date - 1 %>
<% next_date = @date + 1 %>
<h1>Workout Tracker</h1>
<h3>Tracked exercises for 
	<%= link_to '< ', '/workout_tracker/index?date=' << previous_date.to_s %>
	<%= @date.to_s %>
	<%= link_to '>', '/workout_tracker/index?date=' << next_date.to_s %>
</h3>
<% if @exercise_entries.length == 0 %>
	<p>No exercises entered for today.</p>
<% else %>
	<% @exercise_entries.keys.each do |exercise| %>
		<h3><%= exercise.title %></h3>
		<% @exercise_entries[exercise].each do |detail| %>
		Sets: <%= detail.sets %> |
		Reps: <%= detail.reps %> |
		Weight: <%= detail.weight %> <br />
		<% end %>
	<% end %>
<% end %>
<%= form_tag "/workout_tracker/track" do %>
	<h3>Select Exercise or <%= link_to 'Create a New Exercise', '/exercises/new' %></h3>
	<% @exercises.each do |exercise| %>
		<%= radio_button_tag(:exercise, exercise.id) %> <%= exercise.title %><br />
	<% end %>
	<h3>Enter Exercise Details</h3>
	Sets: <%= text_field_tag(:sets) %>
	Reps: <%= text_field_tag(:reps) %>
	Weight: <%= text_field_tag(:weight) %>
	<br />
	<%= hidden_field_tag(:date, @date.to_s) %>
	<%= submit_tag('Track') %>
<% end %>