<% previous_date = @date - 1 %>
<% next_date = @date + 1 %>

<script type="text/javascript">
	function padWithZeroes(number, length) {
		var str = '' + number; 
		while (str.length < length) {
			str = '0' + str;
		}

		return str;
	}

	$(function() {
			$("#calender").datepicker()
				.on('changeDate', function(ev) {
					var date = "";
					date += ev.date.getFullYear() + "-" + padWithZeroes(ev.date.getMonth() + 1, 2) + "-" + 
						padWithZeroes(ev.date.getDate(), 2);
					date = window.location.href="/workout_tracker/index?date=" + date;
				});
	});
</script>

<div class="row">
<div class="span12">

<h1>Workout Tracker</h1>
<legend>
	<%= @date.to_formatted_s(:long_ordinal) %>
	<div style="float: right; right: 0">
		<div id="calender" data-date-format="yyyy-mm-dd" data-date="<%= @date.to_s %>" style="float: left; margin-left:12px; margin-right: 12px;">
			<span><i class="icon-calendar"></i></span>
		</div>
		<a href="/workout_tracker/index?date=<%= previous_date %>" class="btn"><i class="icon-arrow-left"></i> Previous</a>
		<a href="/workout_tracker/index?date=<%= next_date %>" class="btn">Next <i class="icon-arrow-right"></i></a>
	</div>
</legend>

<%= show_notice %>
<%= show_errors %>

<% if @exercise_entries.length == 0 %>
	<p>No exercises tracked for today.</p>
	<br />
<% else %>
	<% @exercise_entries.keys.each do |exercise| %>
		<h3><%= exercise.title %></h3>
		<table class="table table-bordered">
			<thead>
				<tr style="background-color: #999999; color: #333333;">
					<th>Sets</th>
					<th>Reps</th>
					<th>Weight</th>
					<th></th>
				</tr>
			</thead>
			<% @exercise_entries[exercise].each do |detail| %>
			<tr>
				<td><%= detail.sets %></td>
				<td><%= detail.reps %></td>
				<td><%= detail.weight %></td>
				<td>
					<%= link_to "Edit", edit_exercise_detail_path(detail, :date => @date), :class => "btn" %>
					<%= link_to "Delete", exercise_detail_path(detail, :date => @date), :method => :delete, :confirm => "Are you sure you would like to delete this entry?", :class => "btn" %>
				</td>	
			</tr>
			<% end %>
		</table>
		<br />
	<% end %>
<% end %>

<%= form_tag "/workout_tracker/track" do %>
	<legend>Track</legend>

	<div class="row">

		<div class="span6">
			<h3>Select Exercise or <%= link_to 'Create a New Exercise', '/exercises/new' %></h3>
			<br />
			<% @exercises.each do |exercise| %>
				<label class="radio">
					<%= radio_button_tag(:exercise, exercise.id) %> 
					<%= exercise.title %>
				</label>
			<% end %>
		</div>
	
		<div class="span6">
			<h3>Enter Details</h3>
			<br />
			<div class="control-group">	
				<%= label_tag(:sets, "Sets", :class => "control-label")  %>
				<div class="controls">
					<%= text_field_tag(:sets) %>
				</div>
			</div>

			<div class="control-group">
				<%= label_tag(:reps, "Reps", :class => "control-label") %> 
				<div class="controls">
					<%= text_field_tag(:reps) %>
				</div>
			</div>
				
			<div class="control-group">
				<%= label_tag(:weight, "Weight", :class => "control-label") %> 
				<div class="controls">
					<%= text_field_tag(:weight) %>
				</div>
			</div>
				
			<%= hidden_field_tag(:date, @date.to_s) %>
				
			<div class="control-group">
				<div class="controls">	
					<%= submit_tag('Track', :class => "btn btn-primary") %>
				</div>
			</div>
		</div>

	</div>

<% end %>

</div>
</div>