<div class="row">
<div class="span12">

<h1>Workout Tracker</h1>
<legend>Workout - <%= @date.to_formatted_s(:long_ordinal) %></legend>

<% if @exercise_entries.length == 0 %>
	<p>No exercises entered for today.</p>
<% else %>
	<% @exercise_entries.keys.each do |exercise| %>
		<h3><%= exercise.title %></h3>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Sets</th>
					<th>Reps</th>
					<th>Weight</th>
				</tr>
			</thead>
			<% @exercise_entries[exercise].each do |detail| %>
			<tr>
				<td><%= detail.sets %></td>
				<td><%= detail.reps %></td>
				<td><%= detail.weight %></td>
			</tr>
			<% end %>
		</table>
		<br />
	<% end %>
<% end %>

<%= form_tag "/workout_tracker/track" do %>
	<legend>Track</legend>

	<div class="row">

		<div class="span6">
			<h3>Select Exercise or <%= link_to 'Create a New Exercise', '/exercises/new' %></h3>
			<% @exercises.each do |exercise| %>
				<label class="radio">
					<%= radio_button_tag(:exercise, exercise.id) %> 
					<%= exercise.title %>
				</label>
			<% end %>
		</div>
	
		<div class="span6">
			<h3>Enter Details</h3>
			<div class="control-group">	
				<%= label_tag(:sets, "Sets", :class => "control-label")  %>
				<div class="controls">
					<%= text_field_tag(:sets) %>
				</div>
			</div>

			<div class="control-group">
				<%= label_tag(:reps, "Reps", :class => "control-label") %> 
				<div class="controls">
					<%= text_field_tag(:reps) %>
				</div>
			</div>
				
			<div class="control-group">
				<%= label_tag(:weight, "Weight", :class => "control-label") %> 
				<div class="controls">
					<%= text_field_tag(:weight) %>
				</div>
			</div>
				
			<%= hidden_field_tag(:date, @date.to_s) %>
				
			<div class="control-group">
				<div class="controls">	
					<%= submit_tag('Track') %>
				</div>
			</div>
		</div>

	</div>

<% end %>

</div>
</div>