<%= form_for(@exercise_entry) do |f| %>
  <% if @exercise_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise_entry.errors.count, "error") %> prohibited this exercise_entry from being saved:</h2>

      <ul>
      <% @exercise_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :exercise_id %><br />
    <%= f.number_field :exercise_id %>
  </div>
  <div class="field">
    <%= f.label :exercise_detail_id %><br />
    <%= f.number_field :exercise_detail_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
