<%= form_for(@exercise) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group"> 
    <%= f.label :title %>
      <div class="controls">
        <%= f.text_field :title %>
      </div>
  </div>

  <div class="control-group">
    <%= f.label :description %>
    <div class="controls">
      <%= f.text_area :description, :rows => 5 %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Create", :class => "btn btn-primary" %>
      <%= link_to 'Cancel', workout_tracker_url, :class => "btn" %>
    </div>
  </div>
<% end %>
