<!DOCTYPE html>
<html>
<head>
  <title>Swole Tracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<% if @current_user %>
					<a class="brand" href="<%= dashboard_url %>">Swole Tracker</a>
				<% else %>
					<a class="brand" href="<%= welcome_url %>">Swole Tracker</a>
				<% end %>
				<ul class="nav">
					<% if @current_user %>
						<li class="">
							<%= link_to "Workouts", workout_tracker_url %>
						</li>
						<li class="">
							<%= link_to "Health", health_tracker_url %>
						</li>
						<li class="">
							<%= link_to "Progress", progress_url %>
						</li>
						<li class="">
							<%= link_to "Logout", logout_url %>
						</li>
					<% else %>
						<li class="">
							<%= link_to "Login", login_url %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="span9"><%= yield %></div>
		</div>
	</div>
</body>
</html>
