<!DOCTYPE html>
<html>
<head>
  <title>SwoleTracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li class="">
						<%= link_to "Workout Tracker", "/workout_tracker/index" %>
					</li>
					<li class="">
						<%= link_to "Health Tracker", "/health_tracker/index" %>
					</li>
					<li class="">
						<%= link_to "Exercises", exercises_path() %>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="span9"><%= yield %></div>
		</div>
	</div>
</body>
</html>
